body{
  /* background-color: cadetblue; */
  background: url(https://images.wallpapersden.com/image/download/skyscraper-architecture-building_ZmtraWeUmZqaraWkpJRmaGtrrWxrbQ.jpg) no-repeat center center fixed ;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  #f0a04b
  #183a1d
}


/* Navigation */

.main-nav{
  display: flex;
  background-color: rgba(95, 158, 160, 0.1), no-repeat;
  margin: auto;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 12px 0px black ;
}
.header{
  font-size: larger;
}

.nav{
  padding: 20px;
  list-style: none;
}
.push{
  margin-left: auto;
}

a{
  text-decoration: none;
  color: aliceblue;
}

.item:hover{
  /* background-color: #f1a14c; */
  box-shadow: 0px 2px 0px 0px  white ;
}


/* Header */
h1{
  text-align: center;
}

img{
  width: 100%;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: 150px;
}


.zone{
  background-color: rgba(128, 128, 128, 0.3);
  border: 1px outset rgba(128, 128, 128, 0.3);
  box-shadow: 0px 0px 12px 0px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  transition: 1s all ;
}

.zone:hover{
  transform: scale(1.1);
}

li{
  /* list-style-type: none; */
  text-align: start;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

